body {
    color: black;
    background-color: white;
}
.imagem1 {
    width: 220px;
}
.titulo1 {
    font-size: 25px;
}
.texto1 {
    display: flex;
}
.imagem2 {
    width: 150px;
}
.texto2 {
    display: flex;
}
.imagem3 {
    width: 180px;
} 